<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - István Fekete's Animal Characters</title>
</head>
<body>
    <div th:replace="~{layout :: content(~{::div.content})}">
        <div class="content">
            <h1>Admin Dashboard</h1>
            
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Users</h5>
                            <p class="card-text">Manage registered users of the website.</p>
                            <a href="#" class="btn btn-primary">View Users</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Animals</h5>
                            <p class="card-text">Add, edit, or remove animal characters.</p>
                            <a href="#" class="btn btn-primary">Manage Animals</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Novels</h5>
                            <p class="card-text">Add, edit, or remove novels from the database.</p>
                            <a href="#" class="btn btn-primary">Manage Novels</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Recent Messages</h5>
                        </div>
                        <div class="card-body">
                            <p>View and manage messages sent through the contact form.</p>
                            <a th:href="@{/messages}" class="btn btn-primary">View All Messages</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>API Documentation</h5>
                        </div>
                        <div class="card-body">
                            <p>View documentation for the RESTful API endpoints.</p>
                            <a th:href="@{/api-docs}" class="btn btn-primary">View API Docs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>